.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  width: 100%;
  background-color: blue;
}

.main {
  background-color: lightsalmon;
  width: 100%;
  height: 100%;
  display: flex;

  .side-bar {
    width: 60px;
    height: 100%;
    background-color: red;
  }

  .content {
    width: 100%;
    height: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
      width: 100px;
      height: 30px;
    }
  }
}

.footer {
  height: 100px;
  width: 100%;
  background-color: yellow;
}